<html>
    
    <head>
    <title>Our Tyagi Community</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" /> -->

<script type="text/javascript" src="js/bootstrap.js"></script>

<link href="css/lsb.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
</head>
<body>
    <!--start navigation-->
    <div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Tyagi Samaj</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar navbar-nav navbar-right list-unstyled">                                            
                     <li><a routerLink="/home" routerLinkActive="active">Home</a> </li>
                      <li>  <a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
                      <li>  <a routerLink="/membership" routerLinkActive="active">MemberShip</a></li>
                      <li>  <a routerLink="/directory" routerLinkActive="active">Directory</a></li>
                       <li> <a routerLink="/matrimonial" routerLinkActive="active">Matrimonial</a></li>
                      <li>  <a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end navigation-->
        <div id="header" class="header">
            <div class="container">
                <div class="row">
                        <router-outlet>                                
                        </router-outlet>                    
                    <div class="col-lg-3 col-md-3">
                    </div>
                </div>
            </div>
            </div>
            <!-- js -->
            

</body>
</html>