
            <div class="col-lg-9 col-md-9">
                <h1>Home</h1>
                <p>
                  The caste system in India is the paradigmatic ethnographic example of caste. It has origins in ancient India, and was transformed by various ruling elites in medieval, early-modern, and modern India, especially the Mughal Empire and the British Raj.It is today the basis of educational and job reservations in India.It consists of two different concepts, varna and jati, which may be regarded as different levels of analysis of this system.
                </p>
                <p>The caste system as it exists today is thought to be the result of developments during the collapse of the Mughal era and the British colonial regime in India.The collapse of the Mughal era saw the rise of powerful men who associated themselves with kings, priests and ascetics, affirming the regal and martial form of the caste ideal, and it also reshaped many apparently casteless social groups into differentiated caste communities.The British Raj furthered this development, making rigid caste organisation a central mechanism of administration.Between 1860 and 1920, the British segregated Indians by caste, granting administrative jobs and senior appointments only to the upper castes. Social unrest during the 1920s led to a change in this policy.From then on, the colonial administration began a policy of positive discrimination by reserving a certain percentage of government jobs for the lower castes.</p>

                <p>Caste-based differences have also been practised in other regions and religions in the Indian subcontinent like Nepalese Buddhism,Christianity, Islam, Judaism and Sikhism.It has been challenged by many reformist Hindu movements,Islam, Sikhism, Christianity,and also by present-day Indian Buddhism.</p>

                <p>New developments took place after India achieved independence, when the policy of caste-based reservation of jobs was formalised with lists of Scheduled Castes and Scheduled Tribes. Since 1950, the country has enacted many laws and social initiatives to protect and improve the socioeconomic conditions of its lower caste population. These caste classifications for college admission quotas, job reservations and other affirmative action initiatives, according to the Supreme Court of India, are based on heredity and are not changeable.Discrimination against lower castes is illegal in India under Article 15 of its constitution, and India tracks violence against Dalits nationwide.</p>
                
                <p>                  
                    There are different theories about the establishment of the caste system.
                    There are religious-mystical theories. There are biological theories. 
                    And there are socio-historical theories.According to a legend, when the Brahmin saint Parshurama killed the Kshatriya, 
                    the land was given to the Brahmin who started cultivating it. 
                    These Brahmin were the Tyagi.
                </p>
               <p>
                  Tyagis most probably live in Utter Pradesh, These are concentrated in the farming.The prosperous districts of Bulandshahr, Moradabad, Muzaffarnagar, Meerut, Ghaziabad, Saharanpur and Bijnor. In Haryana, too, they populate the well-off Sonipat and Karnal districts. 
                  They converse in Hindi in the former state and in the local Haryanvi dialect in the latter.
               </p>
            </div>
         